.listItem{
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fbfaff;
    margin-top: 1%;
}
.productQty{
    border: 1px solid rgba(0, 0, 0, 0.3);
    width:80px;
    text-align: center;
}
.itemQty{
    display: flex;
    align-items: center;
    justify-content: end !important;
}
.listItem:hover{
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px #888888;
}